<div class="home_content">
  <div class="row">
    <div id="timeline_content">
      <div class="page">
        <%= render @posts %>
      </div>
    </div>
    <%= paginate @posts %>
  </div>
</div>
